/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Irish Grover", sans-serif;
}

/* General styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(185deg, #049E00, #8CFF20);
}